.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
/* ====== INPUT styles ======= */
.app_input{
  border-radius: 30px;
  height: 48px;
  width: 100%;
  color: var(--color-black);
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 18px;
}
.app_input:hover,
.app_input:focus{
box-shadow: var(--box-shadow);
}
.button{
  width: 100%;
  height: 48px;
  border-radius: 30px;
  color: var(--color-white);
  background-color: var(--color-bg);
  font-size: 18px;
  line-height: 1.2;
}
.button:hover,
.button:focus{
  background-color: #102136;
  font-weight: 700;
  line-height: 1.2;
  cursor: pointer;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ====== CITY LIST styles ======= */
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
  background-color: var(--color-bg);
  width: 50%;
  height: 100%;
  border-radius: 34px;
}
.list__item{
  padding: 10px 20px;
  font-size: 25px;
  color: var(--color-white);
}
.list__item:not(:last-child){
  border-bottom: 1px solid var(--color-gray);
}
.list__icon{
  margin-bottom: -15px;
  margin-top: -15px;
}

/* ============ MEDIA QUERIES MEDIUM DEVICES ==============*/

@media screen and (max-width: 768px) {
  .app{
    margin-top: 30px
  }
  .list{
    width: 90%;
    margin-bottom: 20px;
  }
}

/* ============ MEDIA QUERIES SMALL DEVICES ==============*/
@media screen and (max-width: 320px) {
  .app{
    margin-top: 50px
  }
  .app_input{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .list{
    width: 70%;
  }
}