.header{
  display: flex;
  justify-content: center;
  /* padding: 79px 380px 110px 380px; */

}
.input__header{
  border-radius: 30px;
  height: 48px;
  width: 250px;
  color: var(--color-black);
}
.button{
  width: 150px;
  height: 48px;
  border-radius: 30px;
  color: var(--color-white);
  background-color: var(--color-bg);
  
}

/* @media screen and (max-width: 768px) {
  .header{
    padding: 60px 134px 90px 134px;
  }
}

@media screen and (max-width: 1024px) {
  .header{
    padding: 79px 380px 110px 380px;
  }
} */