@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root{
  --color-bg: rgba(16, 33, 54, 0.8);
  --color-white: #FFFFFF;
  --color-orange: #FF6B09;
  --color-black: #000000;
  --color-gray: #767D85;
  --box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body{
  font-family: 'Lato', sans-serif;
  background-image: url(../src/images/desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
@media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
        body{
          background-image: url(../src/images/desktop@2x.png);
          }
        }


/* ============ MEDIA QUERIES MEDIUM DEVICES ==============*/
@media screen and (max-width: 768px) {
  body{
    background-image: url(../src/images/tablet.png);
  }
  @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
          body{
            background-image: url(../src/images/tablet@2x.png)
          }
        }
}
/* ============ MEDIA QUERIES SMALL DEVICES ==============*/
@media screen and (max-width: 320px) {
  body{
    background-image: url(../src/images/mobile.png);
  }
  @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
          body{
            background-image: url(../src/images/mobile@2x.png);
          }
        }
}