@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root{
  --color-bg: rgba(16, 33, 54, 0.8);
  --color-white: #FFFFFF;
  --color-orange: #FF6B09;
  --color-gray: #767D85;
  --color-black: #000000;

  --transition: all 400ms ease;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body{
  font-family: 'Lato', sans-serif;
  background-image: url(../src/images/bcg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  line-height: 1.7;
  /* background-image: */
}


/* .section{
  padding: 30px 20px 60px 20px;
} */

/* ============ MEDIA QUERIES MEDIUM DEVICES ==============*/
/* @media screen and (max-width: 768px) {
  .section{
    padding: 60px 134px 90px 134px;
  }
} */

/* ============ MEDIA QUERIES BIG DEVICES ==============*/

/* @media screen and (max-width: 1024px) {
  .section{
    padding: 79px 134px 90px 134px;
  }
} */